#footer{
    padding-Top:20px;
    padding-bottom:0px;
    background: #1c1c1c
}
.row-bottom-padded-md{
    padding-bottom:0px;
    border-bottom: 1px solid #fff
}
#footer .fh5co-footer-link{
    padding-bottom: 0px
}